* {
margin: 0;
padding: 0;
}

* body {
font-family: Arial, Verdana, sans-serif;
font-size: 13px;
color: #9E9E9E;
background: #D8D8D8;
}

#page {
width: 761px;
margin-left: auto;
margin-right: auto;
margin-top: 0px;
}

a {
color: #9E9E9E;
}

a:hover {
color: #2D86A0;
}

#contents {
color: #393939;
width: 720px;
padding: 30px 20px 20px 20px;;
}

#contents h2 {
font-style: italic;
color: #6C6C6C;
margin-left: 20px;
padding-top:15px;
}

#contents p {
margin-top: 10px;
margin-left: 20px;
}

#contents dl {
margin-top: 10px;
margin-left: 20px;
}

#contents ul li {
list-style: none;
padding-left:20px;
}

#footer {
background: url(images/footer.png) no-repeat #E4E4E4;
padding: 15px 20px 20px 20px;
width: 721px;
height: 30px;
font-weight: bold;
}

#footer a {
color: #458715;
}

#footerlinks
{
float: right;
}

#footerlinks a
{
color: #458715;
display: block;
padding-right: 5px;
padding-left: 5px;
float: left;
border-right: 1px solid #424242;
}

#footerlinks a:hover
{
text-decoration: none;
}

#footerlinks a.lastlink
{
border: 0;
}

#logo {
background-image: url(images/logo.png);
background-repeat: no-repeat;
height: 137px;
}

h1 
{
margin: 0; 
padding: 0;
position: relative;
width: 761px;
height: 137px;
overflow: hidden;
clear: both;
text-align: center;
color: #2160A1;
}

h1 span 
{
display: block;
position: absolute; 
left: 0; 
top: 0; 
z-index: 1;
width: 761px;
height: 137px;
margin: 0; 
padding: 0;
background-image: url(images/logo.png);
background-position: top left;
background-repeat: no-repeat;
}

h1 span a 
{
display: block;
width: 761px;
height: 137px;
}

#border {
background-image: url(images/border.png);
background-repeat: repeat-y;
}

menu {
padding-left: 100px;
background: url(images/menu.png) white;
background-repeat: no-repeat;
width: 661px;
height: 60px;
display: block;
float: left;
margin-left: 0px;
margin-bottom: 10px;
text-align: center;
font-weight: bold;
}

menu li {
display: block;
float: left;
height: 46px;
}

menu li a {
color: #9E9E9E;
background-image: url(images/menu_a.png);
background-repeat: no-repeat;
display:block;
padding-top: 16px;
height: 30px;
width: 111px;
text-decoration: underline;
margin-top: 13px;
}

menu li a:hover {
color: #2D86A0;
background-image: url(images/menu_a_hover.png);
background-repeat: no-repeat;
padding-top: 26px;
height: 32px;
margin: 0;
display:block;
text-decoration: none;
}

fieldset {
margin: 10px;
padding: 10px;
}

form dd {
padding-bottom: 10px;
}

table {
 background-color: #efefef;
 width: 100%;
}

th {
 background-color: #cef763;
 font-weight: bold;
 padding: 6px;
 text-align: left;
}

td {
 background-color: #ffffff;
 padding: 6px;
}

.trOdd td {
 background-color: #ffffff;
}
.trEven td {
 background-color: #eeeeee;
} 

.ui-tabs .ui-tabs-hide {
     display: none;
}