Options -Indexes -MultiViews +FollowSymLinks

## make sure nobody gets the htaccess files
<Files ~ "^[\._]ht">
    Order allow,deny
    Deny from all
    Satisfy All
</Files>

RewriteEngine On

RewriteCond %{REQUEST_URI} !^/~rewt/omfgrid/Simian/GridWebDAV/index.php$
RewriteCond %{REQUEST_URI} !^/~rewt/omfgrid/Simian/GridWebDAV/install.php
RewriteRule ^(.*)$ /~rewt/omfgrid/Simian/GridWebDAV/index.php [L]
