[Database]
host=localhost
username=dbuser
password=dbpass
database=Simian

[Services]
; SIMIAN_LOG_EMERG   System is unusable
; SIMIAN_LOG_ALERT   Immediate action required
; SIMIAN_LOG_CRIT    Critical conditions
; SIMIAN_LOG_ERR     Error conditions
; SIMIAN_LOG_WARNING Warning conditions
; SIMIAN_LOG_NOTICE  Normal but significant
; SIMIAN_LOG_INFO    Informational
; SIMIAN_LOG_DEBUG   Debug-level messages
; The debug log level, if blank or unset defaults to no logging (exceptions will always be logged)
log_level=SIMIAN_LOG_WARNING
log_file=services.log

[AssetService]
data_storage_engine=database
;server_url=
;data_storage_path=./assetstore

[SceneService]
;server_url=

[UserService]
;server_url=

; A list of UDP Packets that a viewer should never accept from any simulator
udp_blacklist="EnableSimulator,TeleportFinish,CrossedRegion"
motd="Welcome to SimianGrid!"

[InventoryService]
;server_url=

[LindenView]
shared_folder_id=00000000-0000-0000-0000-000000000000
shared_folder_owner_id=00000000-0000-0000-0000-000000000000
sun_texture_id=cce0f112-878f-4586-a2e2-a8f104bba271
moon_texture_id=d07f6eed-b96a-47cd-b51d-400ad4a1c428
cloud_texture_id=dc4b9f0b-d008-45c6-96a4-01dd947ac621
