/* css reset thing */
ul, ol, li, form, fieldset, legend {
	margin: 0;
	padding: 0;
}

fieldset,img { border: 0; }

legend { color: #000000; }

li { list-style: none; }

html, body {
	height: 100%;
	margin: 0px;
}
/* end css reset */

/* basic structural */
#page {
	background: #cccccc;
	min-height: 100%;
	margin: 0px auto;
	padding: 0px;
}

#border {
	width: 750px;
	margin-left: auto;
	margin-right: auto;
	background: #dddddd;
	padding: 10px;
}

#header {
	display: block;
	background: #ffffff;
	margin-left: auto;
	margin-right: auto;
	width: 750px;
}

#logo {
	background-image: url(images/logo.png);
	background-repeat: no-repeat;
	height: 122px;
	margin-right: auto;
	margin-left: auto;
	width: 496px;
}

#menu {
	margin-left: 10px;
	width: 730px;
	display: block;
	padding-bottom: 30px;
	padding-top: 20px;
}

#menu ul {
	margin-bottom: 10px;
	margin-left: 30px;
	width: 500px;
	display: block;
}

#menu li {
	float: left;
	text-align: center;
}

#menu li a {
	padding: 10px;
	text-decoration: none;
}

#footer {
	width: 750px;
	background: #ffffff;
	padding-bottom: 20px;
	padding-top: 10px;
	font-size: 75%;
}

#contents {
	padding-top: 10px;
	padding-left: 25px;
	padding-right: 25px;
	display: block;
	background: #ffffff;
}

/* jquery makes it pretty */
.ui-tabs .ui-tabs-hide {
	display: none;
}
