body {
    margin: 20px;
    padding: 20px;
    font-family: 'Trebuchet MS', Trebuchet, Verdana, sans-serif;
    letter-spacing: 0px;
    line-height: normal;
    font-weight: normal;
    color: #000000;
}

h1 {
    font-family: 'Trebuchet MS', Trebuchet, Verdana, sans-serif;
    letter-spacing: 0px;
    line-height: normal;
    font-weight: bold;
    color: #000000;
}

h2 {
    font-family: 'Trebuchet MS', Trebuchet, Verdana, sans-serif;
    letter-spacing: 0px;
    line-height: normal;
    font-weight: bold;
    color: #000000;
}

table {
    border: 0;
}

td {
    padding: 2px 12px 2px 12px;
}

th {
    padding: 2px 12px 2px 12px;
}
    

#dependency_list{
    padding: 0px 0px 20px 30px;
}
